body{
    font-family: 'Poppins', sans-serif;
}

.banner{
    background-image: url("/portfolio/Photos/bg-7.jpg");
    padding: 210px;
    background-repeat: no-repeat;
    font-size: 32px;
    font-weight: bolder;
    color: white;
    background-size: cover;
}

.skills-padding{
    font-weight: bolder;
    padding: 70px 0;
}